In [28]:
import pandas as pd

In [29]:
mobile_data = pd.read_csv("mobile_price.csv")

In [30]:
mobile_data.head()

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_category
0,0,842,no,2.2,no,1,0,7,0.6,188,...,20,756,2549,9,7,19,no,0,yes,0
1,1,1021,yes,0.5,YES,0,1,53,0.7,136,...,905,1988,2631,17,3,7,yes,1,no,0
2,2,563,yes,0.5,Yes,2,1,41,0.9,145,...,1263,1716,2603,11,2,9,yes,1,no,0
3,3,615,has,2.5,no,0,0,10,0.8,131,...,1216,1786,2769,16,8,11,Yes,0,no,0
4,4,1821,yes,1.2,NO,13,1,44,0.6,141,...,1208,1212,1411,8,2,15,Yes,1,no,0

In [31]:
mobile_data.describe().T

,count,mean,std,min,25%,50%,75%,max
id,2000.0,999.50000,577.494589,0.0,499.75,999.5,1499.25,1999.0
battery_power,2000.0,1238.51850,439.418206,501.0,851.75,1226.0,1615.25,1998.0
clock_speed,2000.0,1.52225,0.816004,0.5,0.70,1.5,2.20,3.0
fc,2000.0,4.30950,4.341444,0.0,1.00,3.0,7.00,19.0
four_g,2000.0,0.52150,0.499662,0.0,0.00,1.0,1.00,1.0
int_memory,2000.0,32.04650,18.145715,2.0,16.00,32.0,48.00,64.0
m_dep,2000.0,0.50175,0.288416,0.1,0.20,0.5,0.80,1.0
mobile_wt,2000.0,140.24900,35.399655,80.0,109.00,141.0,170.00,200.0
n_cores,2000.0,4.52050,2.287837,1.0,3.00,4.0,7.00,8.0
pc,2000.0,9.91650,6.064315,0.0,5.00,10.0,15.00,20.0
px_height,2000.0,645.10800,443.780811,0.0,282.75,564.0,947.25,1960.0
px_width,2000.0,1251.51550,432.199447,500.0,874.75,1247.0,1633.00,1998.0
ram,2000.0,2124.21300,1084.732044,256.0,1207.50,2146.5,3064.50,3998.0
sc_h,2000.0,12.30650,4.213245,5.0,9.00,12.0,16.00,19.0
sc_w,2000.0,5.76700,4.356398,0.0,2.00,5.0,9.00,18.0
talk_time,2000.0,11.01100,5.463955,2.0,6.00,11.0,16.00,20.0
touch_screen,2000.0,0.50300,0.500116,0.0,0.00,1.0,1.00,1.0
price_category,2000.0,0.25000,0.433121,0.0,0.00,0.0,0.25,1.0

In [32]:
mobile_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              2000 non-null   int64
 1   battery_power   2000 non-null   int64
 2   blue            2000 non-null   object
 3   clock_speed     2000 non-null   float64
 4   dual_sim        2000 non-null   object
 5   fc              2000 non-null   int64
 6   four_g          2000 non-null   int64
 7   int_memory      2000 non-null   int64
 8   m_dep           2000 non-null   float64
 9   mobile_wt       2000 non-null   int64
 10  n_cores         2000 non-null   int64
 11  pc              2000 non-null   int64
 12  px_height       2000 non-null   int64
 13  px_width        2000 non-null   int64
 14  ram             2000 non-null   int64
 15  sc_h            2000 non-null   int64
 16  sc_w            2000 non-null   int64
 17  talk_time       2000 non-null   int64
 18  three_g         2000 non-null   object
 19  touch_screen    2000 non-null   int64
 20  wifi            2000 non-null   object
 21  price_category  2000 non-null   int64
dtypes: float64(2), int64(16), object(4)
memory usage: 343.9+ KB

There is no non-null values in the dataset. We can conclude that, there are

### Data Cleaning

In [35]:
#drop the first column - id 
mobile_data = mobile_data.drop('id', axis = 'columns')

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_category
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,0
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,0
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,0
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,0
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,1
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,1

In [36]:
mobile_data.isnull().sum().sum()

0

In [34]:
def rename_binary_attributes(data, attribute):
    for index in attribute:  
        data[attribute] = data[attribute].replace(['Yes', 'YES', 'has','Has','yes'],1)
        data[attribute] = data[attribute].replace(['NO', 'not', 'Not','No','no'],0)
    return data
mobile_data = rename_binary_attributes(mobile_data, ['blue','dual_sim','three_g','wifi'])

In [37]:
def drop_column(dataset, column_name):
    return dataset.drop(column_name, axis = 'columns')

In [23]:
mobile_data.to_csv('test.csv',index=False)